.bar_chart_x_axis {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    width: 100%;
}

.bar_chart_x_axis_element {
    float: left;
}

.bar_chart_x_axis_graph {
    border-radius: 4px 4px 4px 4px;
    margin-left: calc((100% - 20px)/2);
    margin-right: calc((100% - 20px)/2);
    width: 20px;
}

.bar_chart_x_axis_element_text {
    /* font-size: 0.85em; */
    margin-top: 10px;
}