
.group{
    margin-top: 10px;
}

.group>label{
    font-size: 0.8em;
    left: 10px;
    margin: 0;
    background-color:white;
}

.group>input:focus ~ label,
.group>input:valid ~ label{
    display: none;
}
  
.group>input{
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 0;
    margin-top: 5px;
    outline: none;
    padding: 3px 10px 3px 10px;
    position: relative;
    width: calc(100% - 20px - 2px);
}

.add_new_tenant_modal_input::placeholder {
    color: #296cf6;
    font-weight: bold;
    margin-top: -10px;
    position: absolute;
    top: 0;
}