#analysis_dashboard_parent_box {
    float: left;
    height: 100vh;
    margin-left: 220px;
    width: calc(100% - 220px);
}

#analysis_dashboard_parent_inner_box {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 80px;
    width: calc((100% - 160px));
}

.analysis_dashboard_parent_inner_box_title {
    font-size: 1.8em;
    font-weight: bold;
}