.dropdown_select_parent_box {
    position: relative;
}

.create_expense_modal_associated_properties_input {
    background-color: #F5F5FA;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    color: black;
    float: left;
    font-size: 1.0em;
    margin-top: 5px;
    padding: 7.5px 14px 7.5px 15px;
    width: calc(100% - 30px);
}

.create_expense_modal_associated_properties_input:placeholder {
    color: black;
}

.create_expense_modal_associated_properties_input:focus {
    outline: none;
}

.current_selected_associated_properties_icon {
    color: white;
    cursor: pointer;
    float: right;
    height: 20px;
    margin-right: 10px;
    margin-top: 6px;
    transition: 0.5s;
    width: 20px;
}

.current_selected_associated_properties_icon:hover {
    opacity: 0.7;
}


.associated_properties_dropdown_elements {
    color: black;
    cursor: pointer;
    font-size: 1.0em;
    padding: 7.5px 15px 7.5px 15px;
}

.associated_properties_dropdown_elements:hover {
    background-color: #d3d3d3;
}