.expanded_expense_card_box {
    background-color: white;
    border-radius: 4px;
    float: left;
    margin-left: calc((100% - 425px)/2);
    margin-top: 150px;
    padding-bottom: 25px;
    width: 425px;
}

.expanded_expense_card_title_box {
    float: left;
    margin-top: 22.5px;
    width: 100%;
}

.expanded_expense_card_title_text {
    float: left;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 30px;
    height: 35px;
    margin-left: 35px;
}

.expanded_expense_card_title_box_close_icon {
    cursor: pointer;
    float: right;
    height: 30px;
    margin-right: 25px;
    width: 30px;
}

.expanded_expense_card_body_box {
    float: left;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 20px;
    width: calc(100% - 70px);
}

.expanded_expense_card_name_text {
    font-size: 1.1em;
    margin-bottom: 15px;
    width: 100%;
}

.expanded_expense_card_description_text {
    font-style: italic;
}

.expanded_expense_card_bullet_point_box {
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

.expanded_expense_card_bullet_point_box_icon {
    float: left;
    height: 20px;
    width: 20px;
}

.expanded_expense_card_bullet_point_box_text {
    float: left;
    margin-left: 10px;
}

.expanded_expense_card_bullet_point_box {
    float: left;
}

.expanded_expense_card_inner_body_box {
    float: left;
    width: 100%;
}

.expanded_expense_card_body_left_box_element_box {
    height: 35px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
}

.expanded_expense_card_body_left_box_element_box_icon {
    color:  #296CF6;
    float: left;
    height: 17.5px;
    margin-top: calc((35px - 17.5px)/2);
    width: 17.5px;
}

.expanded_expense_card_body_left_box_element_box_text {
    float: left;
    line-height: 17.5px;
    margin-bottom: 10px;
    margin-top: calc((35px - 17.5px)/2);
    margin-left: 10px;
}

.expanded_expense_card_body_left_box_element_box_actual_text {
    float: right;
    font-weight: bold;
    line-height: 35px;
}

.expanded_expense_card_body_right_box {
    float: left;
    margin-top: 15px;
    width: 100%;
}

.expanded_expense_card_body_associated_properties_box {
    float: left;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
}

.expanded_expense_card_property_tag {
    background-color: #f5f5fa;
    border-radius: 4px;
    height: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}

.expanded_expense_card_property_tag_text {
    color: #296CF6;
    float: left;
    line-height: 35px;
    margin-left: 30px;
    text-align: center;
    width: calc(100% - 60px);
}

.expanded_expense_card_body_left_box_element_box_subtext {
    float: left;
    margin-top: 5px;
    min-height: 100px;
    word-break: break-all;
}

.expanded_expense_card_element_divider {
    background-color: #d3d3d3;
    height: 1px;
    width: calc(100%);
}

.expanded_expense_card_file_link:hover {
    color: #296CF6;
    cursor: pointer;
    text-decoration: underline;
}


.expanded_expense_card_title_box_edit_icon{
    border-radius: 4px;
    color: #296CF6;
    cursor: pointer;
    float: right;
    font-size: 0.9em;
    height: 17.5px;
    margin-right: 7.5px;
    margin-top: 1px;
    padding: 5px 10px 5px 10px;
    transition: 0.5s;
    user-select: none;
}

.expanded_expense_card_title_box_edit_icon:hover {
    background-color: #296CF6 !important;
    color: white;
}

.expanded_expense_title_input {
    background-color: #F5F5FA;
    border: none;
    border-radius: 4px;
    height: 25px;
    font-size: 1.0em;
    margin-bottom: 0px;
    margin-left: 35px;
    padding: 5px 15px 5px 15px;
    width: 175px;
}

.expanded_expense_card_body_amount_input {
    background-color: #F5F5FA;
    border: none;
    border-radius: 4px;
    float: right;
    height: 20px;
    font-size: 0.9em;
    margin-bottom: 0px;
    margin-top: 2.5px;
    padding: 5px 10px 5px 10px;
    width: 150px;
}

.expanded_expense_card_body_frequency_input {
    background-color: #F5F5FA;
    border: none;
    border-radius: 4px;
    float: right;
    height: 35px;
    font-size: 0.9em;
    margin-bottom: 0px;
    margin-top: 2.5px;
    padding: 0px 10px 0px 10px;
    width: calc(150px + 20px);
}

.expanded_expense_card_body_textarea_input {
    background-color: #F5F5FA;
    border: none;
    border-radius: 4px;
    height: 75px;
    font-size: 0.9em;
    margin-bottom: 0px;
    margin-top: 2.5px;
    padding: 7.5px 10px 7.5px 10px;
    resize: none;
    width: calc(100% - 20px);
}

.expanded_expense_title_input:focus, 
.expanded_expense_card_body_amount_input:focus, 
.expanded_expense_card_body_frequency_input:focus,
.expanded_expense_card_body_textarea_input:focus {
    outline: none;
}

.expanded_expense_card_attach_file_button {
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-size: 0.9em;
    height: 35px;
    line-height: 35px;
    margin-top: 2.5px;
    transition: 0.5s;
}

.expanded_expense_card_attach_file_button:hover {
    opacity: 0.7;
}

.expanse_card_attach_file_icon {
    float: left;
    height: 20px;
    margin-top: calc((35px - 20px)/2);
    width: 20px;
}

.expense_card_attach_file_text {
    float: left;
    line-height: 35px;
}

#expanded_expense_card_upload_file_button {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.expanded_expense_card_property_tag_trash_can_icon {
    color: #296CF6;
    cursor: pointer;
    float: right;
    height: 20px;
    margin-right: 10px;
    margin-top: calc((35px - 20px)/2);
    transition: 0.5s;
    width: 20px;
}

.expanded_expense_card_property_tag_trash_can_icon:hover {
    opacity: 0.8;
}

.expanded_expense_card_save_edits_button {
    background-color: #296CF6;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    padding: 7.5px 15px 7.5px 15px;
    transition: 0.5s;
}

.expanded_expense_card_save_edits_button:hover {
    opacity: 0.8;
}