#expenses_dashboard_parent_box {
    background-color: #F5F5FA;
    float: left;
    height: 100vh;
    margin-left: 220px;
    width: calc(100% - 220px - 20%);
}

.expenses_dashboard_parent_inner_box {
    float: left;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 80px;
    width: calc((100% - 120px));
}

.expenses_dashboard_parent_inner_box_title {
    float: left;
    font-size: 1.6em;
    font-weight: bold;
}

.expenses_dashboard_title_box {
    width: 100%;
}

.expenses_dashboard_search_bar {
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    float: right;
    font-size: 1.1em;
    padding: 7.5px 15px 7.5px 15px;
    width: 500px;
}

.expenses_dashboard_search_bar:focus {
    outline: none;
}

.expenses_dashboard_body_box {
    float: left;
    margin-top: 10px;
    width: 100%;
}

.expenses_dashboard_buttons_box {
    float: left;
    height: 40px;
    width: 100%;
}

.expenses_dashboard_add_expense_button {
    background-color: #296CF6;
    border: 2px solid #296CF6;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    float: right;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding: 7.5px 15px 7.5px 15px;
    text-align: center;
    transition: 0.3s;
    user-select: none;
}

.expenses_dashboard_add_expense_button:hover {
    opacity: 0.7;
}

.expenses_dashboard_body_inner_box {
    float: left;
    margin-top: 25px;
    width: 100%;
}

.expenses_dashboard_body_inner_box_most_recent_box {
    width: 100%;
}

.expenses_dashboard_body_inner_box_title {
    font-size: 1.2em;
    font-weight: bold;
}

.expenses_dashboard_body_inner_box_no_expenses_box {
    float: left;
    width: 100%;
}

.expenses_dashboard_body_inner_box_no_expenses_inner_box {
    border-radius: 8px;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px 0px 10px 0px;
    position: relative;
    width: 100%;
}

.expenses_dashboard_body_inner_box_no_expenses_inner_box_icon {
    color: grey;
    float: left;
    height: 25px;
    left: calc(50% - 100px - 25px);
    margin-top: 0px;
    position: absolute;
    width: 25px;
}

.expenses_dashboard_body_inner_box_no_expenses_inner_box_text {
    color: grey;
    font-size: 1.3em;
    margin-left: calc((100% - 200px)/2);
    margin-top: 0px;
    text-align: center;
    width: 200px;
}

.expenses_dashboard_display_add_expense_box {
    background-color: rgba(245,245,250, 0.90);
    border-radius: 4px;
    content: '';
    height: 100vh;
    margin-bottom: 25px;
    position: absolute;
    width: calc(100% - 20% - 220px);
    z-index: 5;
}

.expenses_dashboard_display_add_expense_box_bottom_padding {
    background-color: transparent;
    height: 50px;
    width: 100%;
}

.expenses_dashboard_property_expenses_parent_box {
    margin-bottom: 25px;
    margin-top: 25px;
    width: 100%;
}

.expenses_table {
    background-color: white;
    border-radius: 4px;
    float: left;
    height: calc(75vh);
    min-height: 650px;
    min-width: 1200px;
    overflow: hidden;
    width: 100%;
}

.expenses_table_body {
    height: calc(75vh);
    margin-bottom: 30px;
    overflow: scroll;
    padding-bottom: 30px;
}

.expenses_table_title_row {
    float: left;
    margin-bottom: 15px;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 25px;
    width: calc(100% - 50px);
}

.expenses_table_first_row_long:first-child {
    margin-left: max(3%, 15px);
}

.expenses_table_first_row_long {
    float: left;
    width: 27.5%;
}

.expenses_table_first_row_short {
    float: left;
    min-width: 100px;
    width: calc((34% - 60px)/3);
}

.expenses_table_first_row_title {
    float: left;
    font-size: 1.0em;
    font-weight: bold;
}

.expenses_table_title_row_divider {
    background-color: #d3d3d3;
    height: 1px;
    width: 100%;
}

.expenses_table_subtitle_row {
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 20px;
    width: calc(100% - 50px);
}

.expenses_table_subtitle_row:hover {
    background-color: #f1f1f1;
}

.expenses_table_first_row_subtitle {
    font-size: 1.0em;
    line-height: 30px;
}

.expenses_table_title_row_subdivider {
    background-color: #f1f1f1;
    height: 1px;
    width: 100%;
}

.expenses_table_arrow_icon {
    cursor: pointer;
    float: left;
    height: 17.5px;
    margin-left: 5px;
    margin-top: calc((20px - 15px)/2);
    width: 20px;
}