

#feedback_form_box {
    background-color: #F5F5FA;
    float: left;
    height: 100vh;
    margin-left: 220px;
    width: calc(100% - 220px);
}

#feedback_form_inner_box {
    height: 100vh;
    margin-left: 60px;
    margin-top: 80px;
    width: calc((100% - 120px));
}
 
.feedback_form_inner_box_title { 
    font-size: 1.6em;
    font-weight: bold;
}

.feedback_form_inner_box_subtitle {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 25px;
}

#feedback_form_inner_lower_box {
    float: left;
    margin-top: 40px;
    width: 100%;
}

#feedback_form_inner_lower_box_nav_bar {
    float: left;
    width: 275px;
}

.feedback_form_inner_lower_box_nav_bar_list {
    border-radius: 4px;
    cursor: pointer;
    float: left;
    height: 45px;
    margin-right: 10%;
    transition: 0.5s;
    width: 80%;
}

.feedback_form_inner_lower_box_nav_bar_list:hover, .feedback_form_inner_lower_box_nav_bar_list_active {
    background-color:  white;
}

.feedback_form_inner_lower_box_nav_bar_list_title {
    color:  black;
    float: left;
    font-size: 1.0em;
    line-height: 45px;
    margin-left: 10px;
}

.feedback_form_inner_lower_box_nav_bar_list_icon {
    color:  black;
    float: left;
    height: 20px;
    margin-left: 25px;
    margin-top: calc((45px - 20px)/2);
    width: 20px;
}

#feedback_form_inner_lower_box_right_box {
    float: left;
    height: 100px;
    margin-left: 20px;
    width: calc((100% - 275px - 20px));
}

.feedback_form_actual_form_box {
    border-radius: 4px;
    float: left;
    height: 100px;
    width: calc((100% - 275px - 20px));
}

.feedback_form_actual_form_title_border_bottom {
    background-color: #296CF6;
    height: 5px;
    margin-top: 5px;
}

.feedback_form_actual_form_title {
    border-bottom: 5px solid #296CF6;
    float: left;
    font-size: 1.4em;
    font-weight: bold;
    padding-bottom: 5px;
}

.feedback_form_actual_form_subtitle {
    font-size: 1em;
    font-weight: bold;
    margin-top: 15px;
}

.feedback_form_actual_form_title_input:focus {
    outline: none;
}

.feedback_form_actual_form_title_input {
    border: none;    
    border-radius: 4px;
    font-size: 1.1em;
    margin-top: 25px;
    padding: 7.5px 15px 7.5px 15px;
    width: calc(100% - 30px);
}

.feedback_form_actual_form_title_input::placeholder, .feedback_form_actual_form_title_textarea::placeholder {
    color: grey;
}

.feedback_form_actual_form_title_input:focus, .feedback_form_actual_form_title_textarea:focus {
    outline: none;
}

.feedback_form_actual_form_title_textarea {
    border: none;    border-radius: 4px;
    font-size: 1.1em;
    height: 200px;
    margin-top: 10px;
    padding: 7.5px 15px 7.5px 15px;
    resize: none;
    width: calc(100% - 30px);
}

.feedback_form_actual_form_submit_button {
    background-color: #296cf6;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    float: right;
    padding: 10px 15px 10px 15px;
}

.feedback_form_actual_form_submit_button:hover {
    opacity: 0.9;
}

.feedback_form_actual_form_checkbox {
    background-color: white;
    border: none;    
    border-radius: 4px;
    float: left;
}

#feedback_form_actual_form_checkbox_box {
    margin-top: 15px;
    width: 100%;
}

.feedback_form_actual_form_checkbox_inner_box {
    height: 12px;
    margin: 3px;
    width: 12px;
}

.feedback_form_actual_form_checkbox_text {
    float: left;
    font-size: 1em;
    margin-left: 10px;
    width: 400px;
}

.feedback_form_actual_form_checkbox_inner_box_active {
    background-color: #296CF6;
}

.feedback_form_select_input {
    border: none;    border-radius: 4px;
    float: left;
    font-size: 1.0em;
    margin-right: 15px;
    padding: 10px 15px 10px 15px;
}

#feedback_form_actual_form_select_box {
    margin-top: 15px;
}
