#files_dashboard_parent_box {
    background-color: #F5F5FA;
    height: 100vh;
    margin-left: 220px;
    min-width: 700px;
    overflow: scroll;
    position: absolute;
    width: calc(100% - 220px - 20%);
}

#files_dashboard_welcome_box {
    margin-left: 60px;
    margin-top: 80px;
}

#files_dashboard_welcome_box_title {
    float: left;
    font-size: 1.6em;
    font-weight: bold;
}

.files_dashboard_filter_and_sort_box {
    float: left;
}

.files_dashboard_category_and_sort {
    background-color: #296CF6;
    border: 2px solid #296CF6;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    height: 20px;
    line-height: 20px;
    margin-right: 20px;
    padding: 7.5px 15px 7.5px 15px;
    transition: 0.2s;
    user-select: none;
}

#files_dashboard_sort:hover {
    background-color: #296CF6;
    color: white;
}

.files_dashboard_sort_focus {
    background-color: #296CF6 !important;
    color: white !important;
}

.files_dashboard_sort_text {
    float: left;
    font-weight: bold;
}

.square_bottom_borders {
    border-radius: 8px 8px 0px 0px !important;
    transition: 0s !important;
}

#files_dashboard_sort_icon {
    float: left;
    height: 20px;
    margin-left: 0px;   
    margin-top: 1px;
    width: 20px;
}

.files_dashboard_sort_icon_up {
    transform: rotate(180deg);
}

#files_dashboard_icons_box {
    margin-left: 60px;
    margin-right: 80px;
    margin-top: 10px;
    width: calc(100% - 120px);
}

.files_dashboard_upload_file_text_button {
    background-color:#296CF6;
    /* background-color: #F1F1F1; */
    border: 2px solid #296CF6;
    border-radius: 4px;
    /* color: black; */
    color: white;
    /* color: #296CF6; */
    cursor: pointer;
    font-weight: bold;
    float: right;
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 7.5px 15px 7.5px 15px;
    transition: 0.3s;
    user-select: none;
}

#files_dashboard_upload_file_text_button:hover {
    background-color:#296CF6;
    color: white;
}



.files_dashboard_icons {
    color: #296CF6;
    border: 2px solid #296CF6;
    border-radius: 50px;
    cursor: pointer;
    float: right;
    height: 25px;
    margin-left: 10px;
    padding: 5px;
    width: 25px;
    transition: 0.5s;
}

.files_dashboard_icons:hover {
   background-color: #296CF6;
   color: white;
}

#files_dashboard_search_bar {
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    float: right;
    font-size: 1.1em;
    margin-right: 60px;
    padding: 7.5px 15px 7.5px 15px;
    width: 500px;
}

#files_dashboard_search_bar::placeholder{
    user-select: none;
}

#files_dashboard_search_bar:focus {
    outline: none;
}

#files_dashboard_sort_box {
    margin-left: 60px;
    margin-top: 40px;
}

#files_dashboard_sort_box_title {
    float: left;
    font-size: 1.25em;
    font-weight: bold;
    width: 50px;
}

.files_dashboard_sort_options_list {
    background-color: #eaf5fb;
    color: #296CF6;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    text-align: center;
    transition: 0.5s;
    width: 100%;
}

#files_dashboard_category_parent {
    margin-left: 0px;
    position: absolute;
}

#files_dashboard_sort_parent {
    margin-left: 135px;
    position: absolute;
}

#files_dashboard_sort_options_box {
    margin-left: 135px;
}

#files_dashboard_category_options_box {
    margin-left: 0px;
   
}

.files_dashboard_category_and_sort_options_box {
    border-radius: 0px 8px 8px 8px !important;
    margin-top: 41px;
    position: absolute;
    z-index: 5;
}

.display_sort_box {
    background-color:  #296CF6 !important;
    color: white !important;
}

.files_dashboard_sort_options_list:hover {
    background-color: #296CF6;
    color: white;
}

#files_dashboard_sort_box_list {
    float: left;
    margin-bottom: 25px;
    margin-left: -10px;
}

.files_dashboard_sort_box_type_list {
    border-radius: 4px;
    cursor: pointer;
    float: left;
    list-style: none;
    margin-right: 20px;
    margin-top: -5px;
    padding: 7.5px 22.5px 7.5px 22.5px;
    transition: 0.5s;
}

.files_dashboard_sort_box_type_list:hover {
    color: white;
    background-color: #296CF6;
}

.files_dashboard_sort_box_type_list_off {
    color: #296CF6;
    background-color: #eaf5fb;
}

.files_dashboard_sort_box_type_list_on {
    color: white;
    background-color: #296CF6;
}

#files_dashboard_sort_box_arrow_icon {
    border-radius: 50px;
    color: #296CF6;
    cursor: pointer;
    background-color: #eaf5fb;
    margin-top: -5px;
    padding: 10px;
    transition: 0.5s;
}

#files_dashboard_sort_box_arrow_icon:hover {
    color: white;
    background-color: #296CF6;
    transform: rotate(-180deg);
}

#files_dashboard_files_box {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 15px;
    width: calc(100% - 120px);
}

#files_dashboard_upload_file_box {
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    float: left;
    margin-bottom: 15px;
    margin-left: calc((100% - 562px)/2);
    /* margin-left: calc((100% - 612px)/2); */
    margin-top: 15px;
    width: calc(562px); /* 200px + 20px + 20px + 332px + 40px - 50px) */
}

#files_dashboard_upload_file_left_box {
    float: left;
}

#files_dashboard_upload_file_close_icon {
    background-color: grey;
    /* background-color: #296CF6; */
    border: 2px solid grey;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    float: right;
    height: 24px;
    margin-top: -3px;
    padding: 3px;
    transition: 0.5s;
    width: 24px;
}

#files_dashboard_upload_file_thumbnail_image {
    height: 50px;
    width: 100px;
}

.files_dashboard_upload_image_type {
    height: 80px;
    margin-left: calc((100% - 70px)/2);
    margin-top: 40px;
    width: 70px;
}

.files_dashboard_upload_image_type_medium_icon {
    height: 50px;
    margin-left: calc((100% - 40px)/2);
    margin-top: 35px;
    width: 40px;
}

.files_dashboard_upload_image_type_mini_icon {
    float: left;
    height: 40px;
    margin-left: 10px;
    margin-top: 6px;
    width: 30px;
}

.card_white {
    color: white;
}

.card_blue {
    color: #3679ED;
}

.card_grey {
    color: #d3d3d3;
    opacity: 1.2;
}

.card_red {
    color: #EB3632;
}

.card_green {
    color: #249F4F;
}

.card_orange {
    color: #FDB32B;
}

.upload_file_input_half_right {
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    float: right;
    font-size: 1.0em;
    height: 22.5px;
    margin-bottom: 15px;
    padding: 7.5px 15px 7.5px 15px;
    width: calc(35% - 15px); /* 15px for padding */
}

.upload_file_select {
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    font-size: 1.0em;
    margin-bottom: 15px;
    padding: 7.5px 15px 7.5px 15px;
    width: calc(300px + 30px + 2px);
}

.upload_file_select_half_left {
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    float: left;
    font-size: 1.0em;
    margin-bottom: 15px;
    padding: 7.5px 15px 7.5px 15px;
    width: 55%;
}

.dark_placeholder::placeholder {
    color: black;
}

#files_dashboard_upload_file_label {
    float: left;
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 18px;
}

#files_dashboard_no_files_box {
    border-radius: 8px;
    float: left;
    margin-top: 25px;
    width: 100%; 
}

#files_dashboard_no_files_box_title {
    color: grey;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 150px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.files_dashboard_property_sort_title {
    color: black;
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 25px;
    user-select: none;
}

.files_dashboard_display_add_file_box {
    background-color: rgba(245,245,250, 0.85);
    border-radius: 4px;
    content: '';
    height: 100vh;
    margin-bottom: 25px;
    position: absolute;
    width: calc(100%);
    z-index: 5;
}