.file_card_individual_file {
    background-color: white;
    border: 1px solid grey;
    border-radius: 4px;
    float: left;
    height: 55px;
    margin-top: 15px;
    position: relative;
    margin-right: calc((100% - 1000px)/3);
    width: 250px;
}

.file_card_individual_file:first-child {
    margin-left: 0px !important;
}

.file_card_individual_file_footer {
    border-radius: 4px 4px 0px 0px;
    float: left;
    line-height: 55px;
    margin-left: calc(30px + 16px);
    position: absolute;
    width: calc(100% - 30px - 16px);
}

.file_card_individual_file_footer_title {
    bottom: 0;
    color: #757575;
    font-size: 0.9em;
    font-weight: bold;
    margin-left: 10px;
    width: calc(100% - 25px);
    text-align:  left;
    user-select: none;
    word-break: break-all;
}

.file_card_individual_file_footer_download_icon {
    border-radius: 50px;
    color: #1e1e1e;
    cursor: pointer;
    float: right;
    height: 20px;
    margin-right: 10px;
    margin-top: calc((50px - 20px - 10px) / 2);
    padding: 5px;
    transition: 0.5s;
    width: 20px;
}

.file_card_individual_file_footer_download_icon:hover {
    color:  #1e1e1e;
    background-color:  #d3d3d3;
    transform: scale(1.1);
}

.file_card_active {
    background-color: #296CF6;
    /* background-color: #eaf5fb; */
    border: 1px solid #296CF6;
}

.file_card_individual_file_footer_title_active {
    color: white;
}

.white {
    background-color: white;
}

.grey {
    background-color: #F5F5FA;
}

.file_card_file_type_icon {
    float: left;
    height: 30px;
    margin-bottom: calc((55px - 30px)/2);
    margin-left: 10px;
    margin-top: calc((55px - 30px)/2);
    width: 30px;
}
/* 
@media screen and (max-width: 2000px) {
    .file_card_individual_file {
        width: calc((100% - 150px - 20px) / 5);
    }
}

@media screen and (max-width: 1700px) {
    .file_card_individual_file {
        width: calc((100% - 120px - 16px) / 4);
    }

    #file_card_search_bar {
        width: 300px;
    }
}

@media screen and (max-width: 1400px) {
    .file_card_individual_file {
        width: calc((100% - 90px - 12px) / 3);
    }

    #file_card_search_bar {
        width: 200px;
    }
}

@media screen and (max-width: 1250px) {
    .file_card_individual_file {
        width: calc((100% - 60px - 8px) / 2);
    }

    #file_card_search_bar {
        width: 200px;
    }
} */