.file_card_individual_file {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
    float: left;
    height: 200px;
    margin-bottom: 5px;
    margin-top: 15px;
    position: relative;
    margin-right: 15px;
    width: calc((100% - 60px)/5);
}

.file_card_individual_file_small {
    background-color: #f5f5fa !important;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
    float: left;
    margin-bottom: 10px;
    margin-right: max(25px, calc((100% - 1050px)/4));
    margin-top: 15px;
    width: calc((100% - 75px)/4);
}

.file_card_individual_file:nth-child(5), .file_card_individual_file_small:nth-child(4) {
    margin-right: 0px;
}

.file_card_individual_file:first-child {
    margin-left: 0px !important;
}

.file_card_individual_file_footer {
    /* border-radius: 4px 4px 0px 0px;
    float: left;
    line-height: 50px;
    margin-left: calc(30px + 16px);
    width: calc(100% - 30px - 16px); */
    float: left;
    margin-top: 10px;
    width: 100%;
}

.file_card_individual_file_footer_title {
    color: black;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 17.5px;
    text-align: center;
    width: 100%;
    /* width: calc(100% - 65px); 15px + 25px + 10px + 15px */
    user-select: none;
    word-break: break-all;
}

.file_card_individual_file_footer_title_small {
    color: black;
    float: left;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 35px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    width: calc(100% - 55px - 10px - 10px);
    /* width: calc(100% - 65px); 15px + 25px + 10px + 15px */
    user-select: none;
    word-break: break-all; 
}

.file_card_active {
    background-color: #296CF6;
    /* background-color: #eaf5fb; */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
}

.file_card_individual_file_footer_title_active, .active_file_type_box {
    color: white !important;
}

.white {
    background-color: white;
}

.grey {
    background-color: #F5F5FA;
}

.file_card_file_type_icon {
    float: left;
    height: 100px;
    margin-bottom: 0px;
    margin-left: calc((100% - 100px)/2);
    margin-top: 22.5px;
    width: 100px;
}

.file_card_file_type_icon_small {
    float: left;
    height: 30px;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 0px;
    margin-top: 17.5px;
    width: 30px;
}

@media screen and (max-width: calc(220px + 350px + 0px + 0px + 60px + 1049px))  {
    .file_card_individual_file:nth-child(4) {
        margin-right: 0px;
    }
}


@media screen and (max-width: calc(1110px + 30px + 60px + 20px + 350px + 220px)) {
    .file_card_individual_file_small {
        margin-right: 15px;
        width: calc((100% - 45px)/4);
    }
    
    .file_card_individual_file_small:nth-child(4) {
        margin-right: 0px;
    }

    .file_card_individual_file_small:nth-child(5) {
        margin-right: 15px;
    }
}

@media screen and (max-width: calc(910px + 30px + 60px + 20px + 350px + 220px)) {
    .file_card_individual_file_small {
        margin-right: 15px;
        width: calc((100% - 30px)/3);
    }
    
    .file_card_individual_file_small:nth-child(3) {
        margin-right: 0px;
    }

    .file_card_individual_file_small:nth-child(4), .file_card_individual_file_small:nth-child(5) {
        margin-right: 15px;
    }
}

/*


@media screen and (max-width: 1700px) {
    .file_card_individual_file {
        width: calc((100% - 120px - 16px) / 4);
    }

    #file_card_search_bar {
        width: 300px;
    }
}

@media screen and (max-width: 1400px) {
    .file_card_individual_file {
        width: calc((100% - 90px - 12px) / 3);
    }

    #file_card_search_bar {
        width: 200px;
    }
}

@media screen and (max-width: 1250px) {
    .file_card_individual_file {
        width: calc((100% - 60px - 8px) / 2);
    }

    #file_card_search_bar {
        width: 200px;
    }
} */

.file_card_file_type_box {
    color: grey;
    font-size: 0.85em;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    padding-bottom: 15px;
    padding-top: 7.5px;
    text-align: center;
    user-select: none;
    width: calc(100% - 20px);
}

.file_card_file_year_size_text {
    color: grey;
    font-size: 0.9em;
    text-align: center;
    width: 100%;
}
