#files_dashboard_parent_box {
    height: 100vh;
    margin-left: 120px;
    min-width: 700px;
    overflow: scroll;
    position: absolute;
    width: calc(100% - 120px - 20%);
}

#files_dashboard_welcome_box {
    margin-left: 80px;
    margin-top: 80px;
}

#files_dashboard_welcome_box_title {
    float: left;
    font-size: 1.8em;
    font-weight: bold;
}

.files_dashboard_filter_and_sort_box {
    float: left;
}

.files_dashboard_category_and_sort {
    background-color: #eaf5fb;
    border-radius: 8px;
    color: #296CF6;
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    margin-right: 20px;
    padding: 7.5px 15px 7.5px 15px;
    transition: 0.2s;
    user-select: none;
}

#files_dashboard_sort:hover {
    background-color: #296CF6;
    color: white;
}

.files_dashboard_sort_focus {
    background-color: #296CF6 !important;
    color: white !important;
}

.files_dashboard_sort_text {
    float: left;
    font-weight: bold;
}

.square_bottom_borders {
    border-radius: 8px 8px 0px 0px !important;
    transition: 0s !important;
}

#files_dashboard_sort_icon {
    float: left;
    height: 20px;
    margin-left: 5px;   
    margin-top: 3px;
    width: 20px;
}

.files_dashboard_sort_icon_up {
    transform: rotate(180deg);
}

#files_dashboard_icons_box {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 25px;
    width: calc(100% - 160px);
}

#files_dashboard_upload_file_text_button {
    /* background-color:#296CF6; */
    /* background-color: #F1F1F1; */
    background-color: #eaf5fb;
    border-radius: 8px;
    /* color: black; */
    /* color: white; */
    color: #296CF6;
    cursor: pointer;
    font-weight: bold;
    float: right;
    height: 24px;
    line-height: 24px;
    margin-bottom: 10px;
    margin-left: 15px;
    padding: 7.5px 15px 7.5px 15px;
    transition: 0.3s;
    user-select: none;
}

#files_dashboard_upload_file_text_button:hover {
    background-color:#296CF6;
    color: white;
}

#files_dashboard_upload_file_icon:hover  {
    transform: scale(1.05);
}

.files_dashboard_icons {
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    float: right;
    height: 25px;
    margin-left: 10px;
    padding: 5px;
    width: 25px;
    transition: 0.3s;
}

.files_dashboard_icons:hover {
   opacity: 0.85;
}

#download_file_icon {
    background-color: #eee6f9;
    border-radius: 4px;
    color: #6e4ec1; 
}

#trash_file_icon {
    background-color: #d3d3d3;
    border-radius: 4px;
}

#edit_file_icon {
    background-color: #dbebd2;
    color: #85bb65;
}

#files_dashboard_search_bar {
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    float: right;
    font-size: 1.1em;
    margin-right: 80px;
    padding: 7.5px 15px 7.5px 15px;
    width: 500px;
}

#files_dashboard_search_bar::placeholder{
    user-select: none;
}

#files_dashboard_search_bar:focus {
    outline: none;
}

#files_dashboard_sort_box {
    margin-left: 80px;
    margin-top: 40px;
}

#files_dashboard_sort_box_title {
    float: left;
    font-size: 1.25em;
    font-weight: bold;
    width: 50px;
}

.files_dashboard_sort_options_list {
    background-color: #eaf5fb;
    color: #296CF6;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    text-align: center;
    transition: 0.5s;
    width: 100%;
}

#files_dashboard_category_parent {
    margin-left: 0px;
    position: absolute;
}

#files_dashboard_sort_parent {
    margin-left: 135px;
    position: absolute;
}

#files_dashboard_sort_options_box {
    margin-left: 135px;
}

#files_dashboard_category_options_box {
    margin-left: 0px;
   
}

.files_dashboard_category_and_sort_options_box {
    border-radius: 0px 8px 8px 8px !important;
    margin-top: 39px;
    position: absolute;
    z-index: 5;
}

.display_sort_box {
    background-color:  #296CF6 !important;
    color: white !important;
}

.files_dashboard_sort_options_list:hover {
    background-color: #296CF6;
    color: white;
}

#files_dashboard_sort_box_list {
    float: left;
    margin-bottom: 25px;
    margin-left: -10px;
}

.files_dashboard_sort_box_type_list {
    border-radius: 4px;
    cursor: pointer;
    float: left;
    list-style: none;
    margin-right: 20px;
    margin-top: -5px;
    padding: 7.5px 22.5px 7.5px 22.5px;
    transition: 0.5s;
}

.files_dashboard_sort_box_type_list:hover {
    color: white;
    background-color: #296CF6;
}

.files_dashboard_sort_box_type_list_off {
    color: #296CF6;
    background-color: #eaf5fb;
}

.files_dashboard_sort_box_type_list_on {
    color: white;
    background-color: #296CF6;
}

#files_dashboard_sort_box_arrow_icon {
    border-radius: 50px;
    color: #296CF6;
    cursor: pointer;
    background-color: #eaf5fb;
    margin-top: -5px;
    padding: 10px;
    transition: 0.5s;
}

#files_dashboard_sort_box_arrow_icon:hover {
    color: white;
    background-color: #296CF6;
    transform: rotate(-180deg);
}

#files_dashboard_files_box {
    margin-left: 80px;
    margin-right: 80px;
    width: calc(100% - 130px);
}

#files_dashboard_upload_file_box {
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    float: left;
    margin-bottom: 15px;
    margin-left: calc((100% - 562px)/2);
    /* margin-left: calc((100% - 612px)/2); */
    margin-top: 15px;
    width: calc(562px); /* 200px + 20px + 20px + 332px + 40px - 50px) */
}

#files_dashboard_upload_file_left_box {
    float: left;
}

#files_dashboard_upload_file_right_box {
    float: left;
    margin-top: 25px;
}

#files_dashboard_upload_file_close_icon {
    background-color: grey;
    /* background-color: #296CF6; */
    border: 2px solid grey;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    float: right;
    height: 24px;
    margin-top: -3px;
    padding: 3px;
    transition: 0.5s;
    width: 24px;
}

#files_dashboard_upload_file_close_icon:hover, #files_dashboard_upload_file_final_button:hover {
    transform: scale(1.05);
}

#files_dashboard_upload_file_final_button:hover{
    background-color: #296CF6;
    color: white;
}

#files_dashboard_upload_file_final_button {
    background-color:#296CF6;
    border: 2px solid #296CF6;
    border-radius: 4px;
    color:   white;
    cursor: pointer;
    float: right;
    font-weight: bold;
    line-height: 30px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: -3px;
    padding: 0px 10px 0px 10px;
    transition: 0.5s;
}

#files_dashboard_upload_file_button {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

#files_dashboard_upload_file_button_label {
    background-color: #F1F1F1;
    border: 1px solid grey;
    border-radius: 8px;
    border-style: dashed;
    cursor: pointer;
    float: left;
    height: 189px;
    margin: 25px 25px 15px 25px;
    position: relative;
    transition: 0.5s;
    width: 150px;
}

#files_dashboard_upload_file_button_label:hover {
    opacity: 0.7;
}

#files_dashboard_uploaded_file_name {
    bottom: 0;
    color: grey;
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 15px;
    position: absolute;
    user-select: none;
    width: calc(100% - 30px);
    word-break: break-all;
    text-align: center;
}

#files_dashboard_upload_file_thumbnail_image {
    height: 50px;
    width: 100px;
}

#files_dashboard_upload_file_icon {
    color: grey;
    height: 40px;
    margin-left: calc((100% - 60px)/2);
    margin-top: 40px;
    padding: 10px;
    width: 40px;
}

#files_dashboard_upload_file_title {
    color: grey;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

.files_dashboard_upload_image_type {
    height: 80px;
    margin-left: calc((100% - 70px)/2);
    margin-top: 40px;
    width: 70px;
}

.files_dashboard_upload_image_type_mini_icon {
    float: left;
    height: 40px;
    margin-left: 10px;
    margin-top: 6px;
    width: 30px;
}

.blue {
    color: #3679ED;
}

.grey {
    color: #d3d3d3;
    opacity: 1.2;
}

.red {
    color: #EB3632;
}

.green {
    color: #249F4F;
}

.orange {
    color: #FDB32B;
}

.upload_file_input {
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    font-size: 1.0em;
    height: 22.5px;
    margin-bottom: 15px;
    padding: 7.5px 15px 7.5px 15px;
    width: 300px;
}

.upload_file_input_half_right {
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    float: right;
    font-size: 1.0em;
    height: 22.5px;
    margin-bottom: 15px;
    padding: 7.5px 15px 7.5px 15px;
    width: calc(35% - 15px); /* 15px for padding */
}

.upload_file_select {
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    font-size: 1.0em;
    margin-bottom: 15px;
    padding: 7.5px 15px 7.5px 15px;
    width: calc(300px + 30px + 2px);
}

.upload_file_select_half_left {
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    float: left;
    font-size: 1.0em;
    margin-bottom: 15px;
    padding: 7.5px 15px 7.5px 15px;
    width: 55%;
}

.dark_placeholder::placeholder {
    color: black;
}

#files_dashboard_upload_file_label {
    float: left;
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 18px;
}

#files_dashboard_no_files_box {
    border-radius: 8px;
    float: left;
    margin-top: 25px;
    width: 100%; 
}

#files_dashboard_no_files_box_title {
    color: grey;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 150px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.files_dashboard_property_sort_title {
    color: black;
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 25px;
    user-select: none;
}