.files_dashboard_folder_card {
    background-color: white;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.12), 0 5px 10px 4px rgba(0, 0, 0, 0.12);
    /* border: 1px solid grey; */
    border-radius: 10px;
    float: left;
    height: 50px;
    margin-bottom: 25px;
    margin-right: max(20px, calc((100% - 1050px)/4));
    width: 210px;
}

.files_dashboard_folder_card_icon {
    color: #296CF6;
    float: left;
    height: 25px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: calc((50px - 25px)/2);
    width: 25px;
}

.files_dashboard_folder_card_text {
    color: grey;
    float: left;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 50px;
    user-select: none;
}

.clicked_folder_card {
    background-color: #296CF6;
}

.clicked_folder_card_icon,  .clicked_folder_card_text {
    color: white;
}

/* 
@media screen and (max-width: 2200px) {
    .files_dashboard_folder_card {
        margin-right: calc((100% - 1250px)/4);
    }
}

@media screen and (max-width: 1900px) {
    .files_dashboard_folder_card {
        margin-right: calc((100% - 1000px)/3);
    }
} */

