#new_property_form_box {
    float: left;
    margin-left: 220px;
    width: calc(100% - 220px);
}

.new_property_dashboard_title_box_title{
    font-size: 1.6em;
    font-weight: bold;
}

.new_property_form_inner_box {
    border-radius: 4px;
    float: left;
    margin-left: 60px;
    margin-top: 80px;
    width: calc((100% - 120px));
}

.new_property_dashboard_bottom_box {
    float: left;
    margin-top: 40px;
    width: 100%;
}

.new_property_dashboard_bottom_left_box_list {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
    cursor: pointer;
    height: 45px;
    margin-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    transition: 0.5s;
    width: calc(80%);
}

.new_property_dashboard_bottom_left_box_list:hover .new_property_dashboard_bottom_left_box_list_icon{
    color: #296CF6;
    background-color: white;
}

.new_property_dashboard_bottom_left_box_list:hover .new_property_dashboard_bottom_left_box_list_text {
    color: #296CF6;
    background-color: white;
}

.new_property_dashboard_bottom_left_box_list_icon_active, .new_property_dashboard_bottom_left_box_list_text_active {
    color: #296CF6 !important;
    font-weight: bold !important;
}

.new_property_dashboard_bottom_left_box_list_active {
    color: #296CF6;
    background-color: white;
}

.new_property_dashboard_bottom_left_box_list_icon {
    color: #32384D;
    float: left;
    height: 20px;
    margin-left: 12.5px;
    margin-top: 12.5px;
    width: 20px;
}

.new_property_form_info_inner_box {
    float: left;
    margin-left: 40px;
    margin-top: 30px;
    width: calc((100% - 80px));
}

.new_property_dashboard_bottom_left_box_list_text {
    color: #32384D;
    float: left;
    font-size: 1.0em;
    font-weight: bold;
    line-height: 45px;
    margin-left: 10px;
}

.new_property_dashboard_bottom_left_box {
    float: left;
    width: 250px;
}

.form_footer_box {
    float: left;
    height: 25px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    width: 100%;
}

.new_property_dashboard_bottom_right_box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
    float: left;
    width: calc(100% - 250px - 250px);
}

.form_title {
    border-bottom: 5px solid #296CF6;
    float: left;
    font-size: 1.4em;
    font-weight: bold;
    padding-bottom: 5px;
}

#new_property_form {
    background-color: #F6F7F9;
    float: left;
    width: 100%;
}

input {
    margin-bottom: 15px;
}

input::placeholder {
    color: grey;
}

.new_property_form_label {
    background-color:  #F6F7F9;
    float: left;
    font-size: 1.1em;
    margin-top: 10px;
}

.new_property_form_required {
    background-color:  #F6F7F9;
    color: red;
    font-size: 1.3em;
    float: left;
    margin-bottom: 0;
    margin-left: 5px;
    margin-top: 15px;
}

.new_property_form_subtitle {
    background-color: #F6F7F9;
    border-bottom: 5px solid #296CF6;
    float: left;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-top: 40px;
    padding-bottom: 3px;
}

.new_property_form_input {
    background-color: #f5f5fa;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    margin-top: 10px;
    padding: 7.5px 15px 7.5px 15px;
}

.form_inner_box_subtitle {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 25px;
}

.form_select_input {
    background-color: #f5f5fa;
    border: none;
    border-radius: 4px;
    float: left;
    font-size: 1.1em;
    margin-right: 25px;
    margin-top: 5px;
    padding: 6.5px 15px 6.5px 15px;
    width: calc((100% - 50px - 3px)/3);
}

.new_property_form_input_triple {
    background-color: #f5f5fa;
    border: none;
    border-radius: 4px;
    float: left;
    font-size: 1.1em;
    margin-right: 25px;
    margin-top: 5px;
    padding: 7.5px 15px 7.5px 15px;
    width: calc((100% - 90px - 50px - 12px)/3);
}

.form_continue_button {
    background-color: #296CF6;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    float: right;
    margin-left: 25px;
    margin-top: 5px;
    padding: 10px 15px 10px 15px;
    transition: 0.5s;
}

.form_back_button {
    color: black;
    cursor: pointer;
    float: right;
    margin-top: 5px;
    padding: 10px 15px 10px 15px;
    transition: 0.5s;
}

.form_continue_button:hover, .form_back_button:hover {
    opacity: 0.9;
}

#form_select_input_purchase_type {
    margin-right: 0px;
}

.new_property_form_input_short {
    border: 2px solid black;
    border-radius: 4px;
    float: left;
    font-size: 1.1em;
    margin-right: 25px;
    margin-top: 5px;
    padding: 7.5px 15px 7.5px 15px;
    width: calc((100% - 90px - 50px - 12px)/6);
}

.new_property_form_input_short {
    border: 2px solid black;
    border-radius: 4px;
    float: left;
    font-size: 1.1em;
    margin-right: 25px;
    margin-top: 5px;
    padding: 7.5px 15px 7.5px 15px;
    width: calc((100% - 90px - 50px - 12px)/6);
}

.new_property_form_input_triple:last-child {
    margin-right: 0px !important;
}

#new_property_form_property_type_select {
    border: 1px solid #E0E2e4;
    border-radius: 4px;
    float: left;
    font-size: 1.1em;
    margin-top: 5px;
    padding: 7.5px 15px 7.5px 15px;
    width: calc(100% - 30px);
}

.new_property_form_input:focus, .new_property_form_input_triple:focus, .form_select_input:focus {
    border-radius: 4px;
    outline: none;
}

.new_property_form_input_double:focus {
    border: 1px solid #6532cd;
    border-radius: 4px;
    outline: none;
}

.new_property_form_long_box {
    background-color:  #F6F7F9;
    margin-left: 40px;
    margin-right: 40px;
}

.new_property_form_input_long {
    display: inline-block;
    margin-right: 40px;
    margin-top: 5px;
    width: calc(100% - 2px - 30px);  /* 40px each margin, 15px each side of padding, 1px each border */
}

.new_property_form_triple_box {
    margin-left: 40px;
    width: calc(100% - 80px);
}

#new_property_submit_button {
    background-color: #296CF6;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    float: right;
    font-size: 1.1em;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    padding: 7.5px 15px 7.5px 15px;
    transition: 0.4s;
}

#new_property_submit_button:hover {
    opacity: 0.7;
}

#new_property_submit_button:focus {
    outline: none;
}

.new_property_form_double_box {
    background-color:  #F6F7F9;
    float: left;
    margin-left: 40px;
    margin-top: 20px;
    width: calc(100% - 80px);
}

.new_property_form_input_double_box_second_child {
    float: right !important;
    margin-left: 20px !important;
}

.new_property_form_input_double_box {
    background-color:  #F6F7F9;
    float: left;
    width: calc(50% - 20px);
}

.new_property_form_input_double {
    border: 1px solid #E0E2e4;
    border-radius: 4px;
    float: left;
    font-size: 1.1em;
    margin-top: 5px;
    padding: 7.5px 15px 7.5px 15px;
    width: calc(100% - 30px);
}


#new_property_form_property_manager_checkbox {
    float: left;
    height: 20px;
    margin-right: 10px;
    margin-top: 12.5px;
    width: 20px;
}

.form_box {
    margin-top: 25px;
    width: calc(100%);
}