
.new_property_dashboard_bottom_left_box_list {
    background-color: white;
    border-radius: 50px 10px 10px 50px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
    cursor: pointer;
    height: 45px;
    margin-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    transition: 0.5s;
    width: calc(80%);
}

.new_property_dashboard_bottom_left_box_list:hover {
    opacity: 0.7;
}

.new_property_dashboard_bottom_left_box_list_icon_active, .new_property_dashboard_bottom_left_box_list_text_active {
    color: white !important;
    font-weight: bold !important;
}

.new_property_dashboard_bottom_left_box_list_active {
    background-color: #296CF6;
    color: white !important;
}

.new_property_dashboard_bottom_left_box_list_icon {
    color: #32384D;
    float: left;
    height: 20px;
    margin-left: 12.5px;
    margin-top: 12.5px;
    width: 20px;
}

.new_property_form_info_inner_box {
    float: left;
    margin-left: 40px;
    margin-top: 30px;
    width: calc((100% - 80px));
}

.new_property_dashboard_bottom_left_box_list_text {
    color: #32384D;
    float: left;
    font-size: 1.0em;
    font-weight: bold;
    line-height: 45px;
    margin-left: 10px;
}

.form_footer_box {
    float: left;
    width: 100%;
}

.form_title {
    float: left;
    font-Family: 'Poppins', sans-serif;
    font-size: 1.0em;
    font-weight: bold;
    padding-bottom: 5px;
}

#new_property_form {
    background-color: #F6F7F9;
    float: left;
    width: 100%;
}

input::placeholder {
    color: grey;
}

.new_property_form_required {
    background-color:  #F6F7F9;
    color: red;
    font-size: 1.3em;
    float: left;
    margin-bottom: 0;
    margin-left: 5px;
    margin-top: 15px;
}

.new_property_form_subtitle {
    background-color: #F6F7F9;
    border-bottom: 5px solid #296CF6;
    float: left;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-top: 40px;
    padding-bottom: 3px;
}

.new_property_form_input {
    /* background-color: white; */
    background-color: #f5f5fa;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    font-size: 1.1em;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 7.5px 10px 7.5px 10px;
}

.form_inner_box_subtitle {
    color: grey;
    float: left;
    font-Family: 'Poppins', sans-serif;
    font-size: 1.0em;
}

.form_select_input {
    background-color: #f5f5fa;
    /* background-color: #f5f5fa; */
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    float: left;
    font-size: 1.0em;
    margin-right: 25px;
    margin-top: 5px;
    padding: 10px 15px 10px 15px;
    width: 100%;
}

.new_property_form_input_triple_box {
    float: left;
    margin-right: 25px;
    width: calc((100% - 50px)/3);
}

.new_property_form_input_triple_box:last-child {
    margin-right: 0px !important;
}

.new_property_form_input_label {
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
}

.new_property_form_input_triple {
    background-color: #f5f5fa;
    /* background-color: #f5f5fa; */
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    float: left;
    font-size: 1.0em;
    margin-top: 5px;
    padding: 10px 15px 10px 15px;
    width: calc(100% - 30px);
}

.form_continue_button {
    background-color: #296cf6; 
     /* #f5f5fa; */
    border-radius: 50px;
    color: white !important;
    /* #32384D; */
    cursor: pointer;
    float: right;
    font-Family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-left: 15px;
    padding: 7.5px 17.5px 7.5px 17.5px;
    transition: 0.2s;
    user-select: none;
}

.form_continue_button:hover {
    background-color: #296cf6;
/* #32384D; */
    /* color: #f5f5fa; */
}

.form_back_button {
    color: black;
    cursor: pointer;
    float: right;
    font-Family: 'Poppins', sans-serif;
    padding: 10px;
    transition: 0.5s;
}

.form_continue_button:hover, .form_back_button:hover {
    opacity: 0.9;
}

#form_select_input_purchase_type {
    margin-right: 0px;
}

.new_property_form_input_short {
    background-color: #f5f5fa;
    /* background-color: #f5f5fa; */
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    float: left;
    font-size: 1.0em;
    margin-bottom: 0px;
    margin-right: 25px;
    margin-top: 5px;
    padding: 10px 15px 10px 15px;
    width: 100%;
    /* width: calc((100% - 90px - 50px - 12px)/6); */
}

#new_property_form_property_type_select {
    background-color: #f5f5fa;
    border: 1px solid #E0E2e4;
    border-radius: 4px;
    float: left;
    font-size: 1.1em;
    margin-top: 5px;
    padding: 7.5px 15px 7.5px 15px;
    width: calc(100% - 30px);
}

.new_property_form_input:focus, .new_property_form_input_triple:focus, .form_select_input:focus, .new_property_form_input_short:focus {
    border-radius: 4px;
    outline: none;
}

.new_property_form_input_double:focus {
    border: 1px solid #6532cd;
    border-radius: 4px;
    outline: none;
}

.new_property_form_long_box {
    background-color:  #F6F7F9;
    margin-left: 40px;
    margin-right: 40px;
}

.new_property_form_input_long {
    display: inline-block;
    margin-right: 40px;
    margin-top: 5px;
    width: calc(100% - 2px - 30px);  /* 40px each margin, 15px each side of padding, 1px each border */
}

.new_property_form_triple_box {
    margin-left: 40px;
    width: calc(100% - 80px);
}

.new_property_form_double_box {
    background-color:  #F6F7F9;
    float: left;
    margin-left: 40px;
    margin-top: 20px;
    width: calc(100% - 80px);
}

.new_property_form_input_double_box_second_child {
    float: right !important;
    margin-left: 20px !important;
}

.new_property_form_input_double_box {
    background-color:  #F6F7F9;
    float: left;
    width: calc(50% - 20px);
}

.new_property_form_input_double {
    border: 1px solid #E0E2e4;
    border-radius: 4px;
    float: left;
    font-size: 1.0em;
    margin-top: 5px;
    padding: 7.5px 15px 7.5px 15px;
    width: calc(100% - 30px);
}


#new_property_form_property_manager_checkbox {
    float: left;
    height: 20px;
    margin-right: 10px;
    margin-top: 12.5px;
    width: 20px;
}

.form_box {
    float: left;
    margin-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}