#main_dashboard_summary_notifications_no_notifications {
    background-color: transparent !important;
    border-radius: 4px;
    margin-top: 25px;
    width: 100%; 
}

#main_dashboard_summary_notifications_no_notifications_text {
    background-color: transparent !important;
    color: grey;
    text-align: center;
}
