.properties_dashboard_property_type_box {
    display: inline-block;
    margin-left: 200px;
    padding-bottom: 100px;
    position: absolute;
    width: calc(100% - 200px - 20%);
}

#properties_dashboard_title_box {
    margin-left: 80px;
    margin-top: 80px;
}

#properties_dashboard_title_box_title {
    float: left;
    font-size: 1.8em;
    font-weight: bold;
}

#properties_dashboard_upload_file_icon:hover {
    color: white;
    background-color: #296CF6;
}

#properties_dashboard_search_bar {
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    float: right;
    font-size: 1.1em;
    margin-right: 80px;
    padding: 7.5px 15px 7.5px 15px;
    width: 500px;
}

#properties_dashboard_search_bar:focus {
    outline: none;
}

#properties_dashboard_property_parent_box {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
    width: calc((100% - 160px));
}

#properties_dashboard_property_navigation_bar {
    float: left;
    height: 400px;
    width: 275px;
}

.properties_dashboard_right_box_nav_bar_list_icon {
    float: left;
    height: 25px;
    margin-left: 10px;
    margin-top: 12.5px;
    width: 25px;
}

.properties_dashboard_property_navigation_bar_list {
    border-radius: 8px;
    cursor: pointer;
    float: left;
    height: 50px;
    margin-right: 10%;
    transition: 0.5s;
    width: 90%;
}

.properties_dashboard_property_navigation_bar_list:hover, .properties_dashboard_property_navigation_bar_list_active {
    background-color: #f1f1f1;
}

.properties_dashboard_property_navigation_bar_list_title {
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 50px;
    margin-left: 10px;
}

#properties_dashboard_property_inner_box {
    float: left;
    min-width: 750px;
    overflow: scroll;
    position: relative;
    width: calc(100% - 275px);   
}

#properties_dashboard_property_inner_box::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
#properties_dashboard_property_inner_box {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.properties_dashboard_property_type_icon {
    background-color:  #eee6f9;
    border-radius: 4px;
    color: #6532cd;
    float: left;
    height: 35px;
    margin-left: 10px;
    padding: 10px;
    width: 30px;
}

.properties_dashboard_property_type_title {
    color: grey;
    float: left;
    font-size: 1.4em;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 15px;
}   

.properties_dashboard_property_title_parent {
    margin-top: 25px;
}

#properties_dashboard_tags_box {
    margin-left: 80px;
    margin-top: 40px;
    padding: 0;
}

.properties_dashboard_tags_box_list {
    background-color:  #eaf5fb;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #296CF6;
    cursor: pointer;
    float: left;
    font-size: 0.95em;
    list-style: none;
    margin: 0;
    margin-bottom: 10px;
    margin-right: 20px;
    padding: 10px 17.5px 10px 17.5px;
    transition: 0.5s;
}

.properties_dashboard_tags_box_list:hover {
    opacity: 0.7;
}

#properties_dashboard_right_box {
    float: left;
    height: 100px;
    margin-right: 40px;
    margin-left: 0;
    margin-top: 10px;
    padding-left: 0;
    width: calc(100% - 70% - 40px - 40px - 40px - 25px);   /* 40px for margin right, 40px for margin left, 40px for inner_box's 40px margin left, 25px for inner_box padding right */
}

#properties_dashboard_right_box_summary_box {
    background-color: #6532cd;
    border-radius: 4px;
    width: 100%;
}

#properties_dashboard_right_box_summary_title {
    background-color: transparent;
    color: white;
    font-size: 3.3em;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 35px;
    padding-top: 15px;
}

#properties_dashboard_right_box_summary_subtitle {
    background-color: transparent;
    font-size: 1.3em;
    color: white;
    margin-left: 50px;
    margin-top: 0;
}

#piechart {
    background-color: #6532cd;
}