#settings_dashboard_parent_box {
    background-color: #F5F5FA;
    float: left;
    height: 100vh;
    margin-left: 220px;
    width: calc(100% - 220px);
}

#settings_dashboard_title_box {
    margin-left: 60px;
    margin-top: 80px;
}

#settings_dashboard_title_box_title {
    font-size: 1.6em;
    font-weight: bold;
}

#settings_dashboard_edit_profile_picture_parent_box {
    background-color: white;
    height: 100vh;
    position: fixed;
    /* opacity: 0.7; */
    width: calc(100% - 120px);
    z-index: 5;
}

#settings_dashboard_edit_profile_picture_box {
    background-color: grey;
    height: 600px;
    width: 1200px;
}


#choose_file_button::-webkit-file-upload-button {
    visibility: hidden;
}

#choose_file_button::before {
    background-color: white;
    content: 'Upload';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

#choose_file_button:hover::before {
    border-color: black;
}

#choose_file_button:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

#settings_dashboard_user_information_box {
    border-radius: 4px;
    float: left;
    height: 675px;
    width: 275px;
}

#settings_dashboard_user_information_profile_picture {
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
    float: left;
    height: 225px;
    margin-left: calc((100% - 225px)/2);
    margin-right: calc((100% - 225px)/2);
    width: 225px;
}

#settings_dashboard_user_information_profile_picture_default {
    background-color:white;
    border: 6px solid white;
    border-radius: 50%;
    color:  black;
    float: left;
    height: 150px;
    margin-left: calc((100% - 225px)/2);
    padding: 30.5px;
    width: 150px;
}

#settings_dashboard_user_information_profile_picture_edit_icon {
    background-color:#d3d3d3;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    float: left;
    height: 25px;
    margin-left: -80px;
    margin-top: 170px;
    padding: 7.5px;
    position: relative;
    transition: 0.5s;
    width: 25px;
}

#settings_dashboard_user_information_profile_picture_edit_icon:hover {
    transform: scale(1.1);
}

#settings_dashboard_user_information_form {
    margin-bottom: 30px;
    margin-left: 40px;
    margin-top: 50px;
    width: calc((100% - 80px));
}

#settings_dasboard_user_information_inner_box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
    float: left;
    margin-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    width: calc(275px - 50px);
}

.settings_dashboard_user_information_inner_box_title {
    color: black;
    font-size: 1.3em;
    font-weight: bold;
}

.settings_dashboard_user_information_bullet_box {
    margin-top: 15px;
    width: 100%;
}

.settings_dashboard_user_information_icon {
    color: #32384D;
    float: left;
    height: 25px;
    width: 25px;
}

.settings_dashboard_user_information_inner_box_text {
    bottom: 0;
    color: #32384D;
    float: left;
    font-size: 1.05em;
    margin-left: 10px;
    margin-top: 2px;
    width: calc(100% - 25px - 10px);
    word-break: break-all;
}

.settings_dashboard_user_information_input {
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    color: black;
    font-size: 1.2em;
    margin-bottom: 20px;
    padding: 10px 15px 10px 15px;
    width: calc(100% - 30px - 2px);
}

.settings_dashboard_user_information_input::placeholder {
    color: black;
}

.settings_dashboard_user_information_input:focus {
    border: 1px solid #296CF6;
    outline: none;
}

#settings_dashboard_user_information_input_password::placeholder {
    color: #d3d3d3;
}

#settings_dashboard_user_information_form_submit_button {
    background-color: #296CF6;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    float: right;
    font-size: 1.1em;
    padding: 10px 15px 10px 15px;
    transition: 0.4s;
    width: calc(100%);
}

#settings_dashboard_user_information_form_submit_button:hover {
    opacity: 0.7;
}

#settings_dashboard_parent_inner_box {
    border-radius: 4px;
    float: left;
    margin-left: 60px;
    margin-right: 80px;
    margin-top: 50px;
    width: calc(100% - 140px);
}

#settings_dashboard_right_box {
    float: left;
    height: 675px;
    width: calc(100% - 275px);
}

.settings_dashboard_right_box_title {
    font-size: 1.6em;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 40px;
}

.settings_dashboard_right_box_subheading {
    font-size: 1.2em;
    float: left;
    margin-top: 15px;
}

#settings_dashboard_right_box_subheading_plan {
    background-color: #85bb65;
    border-radius: 4px;
    color: white;
    margin-left: 7.5px;
    margin-top: 10px;
    margin-right: 7.5px;
    padding: 5px 10px 5px 10px;
    float: left;
}

#settings_dashboard_right_box_subheading_box {
    margin-left: 50px;
    margin-top: 10px;
}

.settings_dashboard_right_box_icon {
    background-color: #d3d3d3;
    border-radius: 50px;
    cursor: pointer;
    float: right;
    height: 20px;
    margin-right: 50px;
    margin-top: 7.5px;
    padding: 10px;
    transition: 0.5s;
    width: 20px;
}

.settings_dashboard_right_box_icon:hover {
    transform: scale(1.1);
}

#settings_dashboard_right_box_nav_bar {
    float: left;
    height: 675px;
    width: 225px;
}

.settings_dashboard_right_box_nav_bar_list {
    background-color: white;
    border-radius: 50px 10px 10px 50px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
    cursor: pointer;
    float: left;
    height: 45px;
    margin-bottom: 15px;
    margin-left: 10%;
    margin-right: 5%;
    transition: 0.5s;
    width: 85%;
}

.settings_dashboard_right_box_nav_bar_list:hover {
    background-color: #296CF6;
}

.settings_dashboard_right_box_nav_bar_active_list {
    background-color: #296CF6;
}

.settings_dashboard_right_box_nav_bar_list_icon {
    color: #32384D;
    float: left;
    height: 20px;
    margin-left: 20px;
    margin-top: 12.5px;
    width: 20px;
}

.settings_dashboard_right_box_nav_bar_list:hover .settings_dashboard_right_box_nav_bar_list_icon{
    color: white !important;
}

.settings_dashboard_right_box_nav_bar_list:hover .settings_dashboard_right_box_nav_bar_list_text{
    color: white !important;
}

.settings_dashboard_right_box_nav_bar_list_icon_active, 
.settings_dashboard_right_box_nav_bar_list_text_active {
    color: white !important;
}

.settings_dashboard_right_box_nav_bar_list_text {
    color: #32384D;
    float: left;
    font-weight: bold;
    font-size: 1.0em;
    line-height: 45px;
    margin-left: 10px;
}

.right_box_page_inner_box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
    float: left;
    height: 600px;
    margin-left: 20px;
    min-width: 400px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    width: calc(100% - 250px - 20px - 50px);
}

.right_box_page_title {
    float: left;
    font-size: 1.4em;
    font-weight: bold;
    user-select: none;
}

.right_box_page_edit_button {
    color:  #296CF6;
    cursor: pointer;
    float: right;
    font-weight: bold;
    transition: 0.5s;
}

.right_box_page_edit_button:hover {
    opacity: 0.7;
}

.right_box_page_content_inner_box {
    border-top: 1px solid #d3d3d3;
    float: left;
    margin-top: 25px;
    width: 100%;
}

.right_box_page_content_inner_box_list {
    border-bottom: 1px solid #d3d3d3;
    height: 50px;
    width: 100%;
}

.right_box_page_content_inner_box_list_text {
    float: left;
    font-size: 1.0em;
    font-weight: bold;
    line-height: 50px;
}

.right_box_page_content_inner_box_list_value_text {
    float: right;
    font-size: 1.0em;
    line-height: 50px;
}

.right_box_page_content_inner_box_list_edit_text {
    color:  #296CF6;
    cursor: pointer;
    float: right;
    font-weight: bold;
    line-height: 50px;
    margin-left: 15px;
}

.right_box_page_content_inner_box_list_edit_text:hover {
    text-decoration: underline;
}

.right_box_page_content_save_edits_button {
    background-color: #296CF6;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    float: right;
    margin-top: 25px;
    padding: 7.5px 15px 7.5px 15px;
}

.right_box_page_content_save_edits_button:hover {
    opacity: 0.8;
}

.right_box_page_content_inner_box_list_input {
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    font-size: 1.0em;
    padding: 7.5px 15px 7.5px 15px;
    width: 200px;
}

.right_box_page_content_inner_box_list_input::placeholder {
    color: grey;
}

.right_box_page_title_unsubscribe_all_button {
    color: #296CF6;
    cursor: pointer;
    float: right;
    margin-right: 25px;
}

.right_box_page_title_unsubscribe_all_button:hover {
    text-decoration: underline;
}

#email_fyi_text {
    color: red;
    margin-top: 15px;
}


/**** SWITCH CSS ****/
.switch {
    position: relative;
    float: right;
    margin-top: calc((50px - 25px)/2);
    width: 40px;
    height: 25px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color:  #296CF6;
}

input:checked + .slider:before {
    -webkit-transform: translateX(14.5px);
    -ms-transform: translateX(14.5px);
    transform: translateX(14.5px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.edit_plan_class {
    height: 225px;
}

.edit_plan_class_inside_box {
}

.edit_plan_class_inside_box_card {
    background-color:  #f1f1f1;
    border: 2px solid #f1f1f1;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    height: 75px;
    margin-left: 30px;
    margin-top: 15px;
    width: calc((100% - 60px - 12px) / 3);
    transition: 0.5s;
}

.edit_plan_class_inside_box_card:hover {
    opacity: 0.7;
}

.edit_plan_class_inside_box_card:first-child {
    margin-left: 0px;
}

.edit_plan_class_inside_box_card_active {
    background-color: #296CF6;
    border: 2px solid #296CF6;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 6px 10px 0 rgba(0, 0, 0, 0.09) !important;
}

.edit_plan_class_inside_box_card_selected {
    border: 2px solid #296CF6;
}

.edit_plan_class_inside_box_card_title {
    color: #296CF6;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 75px;
    margin-left: 15px;
    user-select: none;
}

.edit_plan_class_inside_box_card_title_active {
    color: white;
}

.edit_plan_class_inside_box_card_icon {
    color: #296CF6;
    float: left;
    height: 25px;
    margin-left: 50px;
    margin-top: calc((75px - 25px) / 2);
    width: 25px;
}

.edit_plan_class_inside_box_card_icon_active {
    color: white;
}

.edit_plan_submit_button {
    background-color: #296CF6;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    float: right;
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
}

.edit_plan_submit_button:hover {
    opacity: 0.9;
}

#settings_dashboard_upload_profile_picture_button {
    opacity: 0;
    position: absolute;
    z-index: -1;
}