body {    
    margin: 0 !important;
    padding: 0 !important;
}

.clearfix {
    clear: both;
}

* {
    margin: 0;
    /* font-family: 'Padauk', sans-serif; */
    /* font-family: 'Source Sans Pro', sans-serif; */
    /* font-family: 'Rubik', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Nanum Gothic', sans-serif; */
    font-family: 'Lato', sans-serif;

    /* font-family: 'Mukta', sans-serif; */
}

.search_bar {
    border: none;
    border-radius: 50px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.09), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
    float: right;
    font-size: 1.1em;
    padding: 10px 15px 10px 15px;
    width: 500px;
}

.search_bar:focus, .generic_search_bar:focus {
    outline: none;
}

.search_bar::placeholder{
    user-select: none;
}

.page_button {
    background-color: #296CF6;
    border: 2px solid #296CF6;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10), 0 6px 10px 0 rgba(0, 0, 0, 0.09);
    color: white;
    cursor: pointer;
    float: right;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-left: 10px;
    padding: 7.5px 15px 7.5px 15px;
    text-align: center;
    transition: 0.3s;
    user-select: none;
}

.page_button:hover {
    opacity: 0.7;
}

.full-background-tint {
    /* background-color: black; */
    background-color: rgba(245,245,250, 0.90);
    border-radius: 4px;
    content: '';
    height: 100vh;
    margin-bottom: 25px;
    position: absolute;
    width: calc(100% - 220px);
    z-index: 5;
}